USE [jojodb]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 5/17/2021 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matkhau] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bangphu]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bangphu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idchitiethd] [int] NOT NULL,
	[idsanpham] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_bangphu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bangxoahoadon]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bangxoahoadon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idhoadon] [int] NOT NULL,
	[idnhanvien] [int] NOT NULL,
	[ngay] [datetime] NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_bangxoahoadon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiphi]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiphi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idloaichiphi] [int] NOT NULL,
	[ngay] [datetime] NOT NULL,
	[chiphi] [int] NOT NULL,
	[active] [nvarchar](50) NULL,
 CONSTRAINT [PK_chiphi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idhoadon] [int] NOT NULL,
	[idspchinh] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[thanhtien] [int] NOT NULL,
 CONSTRAINT [PK_chitiethoadon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tongtien] [int] NOT NULL,
	[idkhachhang] [int] NOT NULL,
	[idnhanvien] [int] NOT NULL,
	[ngayhoadon] [datetime] NOT NULL,
	[giamgia] [int] NOT NULL,
	[khachphaitra] [int] NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_hoadon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenkhachhang] [nvarchar](150) NOT NULL,
	[sodienthoai] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](250) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[ghichu] [nvarchar](1000) NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaichiphi]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaichiphi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenchiphi] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_loaichiphi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matkhau] [nvarchar](500) NOT NULL,
	[hovaten] [nvarchar](150) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
	[ngaysinh] [nvarchar](50) NOT NULL,
	[sodienthoai] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](250) NOT NULL,
	[cmnd] [nvarchar](50) NOT NULL,
	[ngayvaolam] [nvarchar](50) NOT NULL,
	[congviec] [nvarchar](150) NOT NULL,
	[taikhoan] [nvarchar](50) NOT NULL,
	[loai] [int] NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](250) NOT NULL,
	[gia] [int] NOT NULL,
	[loai] [nvarchar](50) NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sanpham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanphamphu]    Script Date: 5/17/2021 9:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanphamphu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[gia] [int] NOT NULL,
	[active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sanphamphu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [matkhau]) VALUES (1, N'1')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[bangphu] ON 

INSERT [dbo].[bangphu] ([id], [idchitiethd], [idsanpham], [soluong]) VALUES (19476, 21747, 1, 1)
INSERT [dbo].[bangphu] ([id], [idchitiethd], [idsanpham], [soluong]) VALUES (19477, 21748, 4, 1)
INSERT [dbo].[bangphu] ([id], [idchitiethd], [idsanpham], [soluong]) VALUES (19478, 21748, 5, 1)
SET IDENTITY_INSERT [dbo].[bangphu] OFF
GO
SET IDENTITY_INSERT [dbo].[bangxoahoadon] ON 

INSERT [dbo].[bangxoahoadon] ([id], [idhoadon], [idnhanvien], [ngay], [active]) VALUES (3106, 16511, 1, CAST(N'2021-04-08T03:10:36.373' AS DateTime), N'false')
SET IDENTITY_INSERT [dbo].[bangxoahoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[chiphi] ON 

INSERT [dbo].[chiphi] ([id], [idloaichiphi], [ngay], [chiphi], [active]) VALUES (1, 6, CAST(N'2017-01-20T00:00:00.000' AS DateTime), 1500000, N'false')
INSERT [dbo].[chiphi] ([id], [idloaichiphi], [ngay], [chiphi], [active]) VALUES (2, 7, CAST(N'2017-02-05T00:00:00.000' AS DateTime), 300000, N'false')
INSERT [dbo].[chiphi] ([id], [idloaichiphi], [ngay], [chiphi], [active]) VALUES (3, 3, CAST(N'2017-02-06T00:00:00.000' AS DateTime), 20000, N'false')
SET IDENTITY_INSERT [dbo].[chiphi] OFF
GO
SET IDENTITY_INSERT [dbo].[chitiethoadon] ON 

INSERT [dbo].[chitiethoadon] ([id], [idhoadon], [idspchinh], [soluong], [thanhtien]) VALUES (21747, 16511, 19, 1, 30000)
INSERT [dbo].[chitiethoadon] ([id], [idhoadon], [idspchinh], [soluong], [thanhtien]) VALUES (21748, 16512, 21, 1, 38000)
INSERT [dbo].[chitiethoadon] ([id], [idhoadon], [idspchinh], [soluong], [thanhtien]) VALUES (21749, 16513, 11, 1, 32000)
SET IDENTITY_INSERT [dbo].[chitiethoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[hoadon] ON 

INSERT [dbo].[hoadon] ([id], [tongtien], [idkhachhang], [idnhanvien], [ngayhoadon], [giamgia], [khachphaitra], [active]) VALUES (16511, 30000, 1, 1, CAST(N'2021-04-07T00:03:19.000' AS DateTime), 0, 30000, N'false')
INSERT [dbo].[hoadon] ([id], [tongtien], [idkhachhang], [idnhanvien], [ngayhoadon], [giamgia], [khachphaitra], [active]) VALUES (16512, 38000, 9282, 1, CAST(N'2021-04-07T13:10:10.000' AS DateTime), 9500, 28500, N'true')
INSERT [dbo].[hoadon] ([id], [tongtien], [idkhachhang], [idnhanvien], [ngayhoadon], [giamgia], [khachphaitra], [active]) VALUES (16513, 32000, 1, 2, CAST(N'2021-04-07T13:17:48.000' AS DateTime), 0, 32000, N'true')
SET IDENTITY_INSERT [dbo].[hoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[khachhang] ON 

INSERT [dbo].[khachhang] ([id], [tenkhachhang], [sodienthoai], [diachi], [email], [ghichu], [trangthai], [active]) VALUES (1, N'test', N'', N'', N'', N'', N'Chưa cập nhật', N'true')
INSERT [dbo].[khachhang] ([id], [tenkhachhang], [sodienthoai], [diachi], [email], [ghichu], [trangthai], [active]) VALUES (2, N'test', N'', N'', N'', N'', N'Chưa cập nhật', N'true')
INSERT [dbo].[khachhang] ([id], [tenkhachhang], [sodienthoai], [diachi], [email], [ghichu], [trangthai], [active]) VALUES (3, N'test', N'', N'', N'', N'', N'Chưa cập nhật', N'true')
GO
SET IDENTITY_INSERT [dbo].[khachhang] OFF
GO
SET IDENTITY_INSERT [dbo].[loaichiphi] ON 

INSERT [dbo].[loaichiphi] ([id], [tenchiphi]) VALUES (1, N'Nguyên liệu trà sữa')
INSERT [dbo].[loaichiphi] ([id], [tenchiphi]) VALUES (2, N'Nguyên liệu sinh tố')
INSERT [dbo].[loaichiphi] ([id], [tenchiphi]) VALUES (3, N'Nguyên liệu khác')
SET IDENTITY_INSERT [dbo].[loaichiphi] OFF
GO
SET IDENTITY_INSERT [dbo].[nhanvien] ON 

INSERT [dbo].[nhanvien] ([id], [matkhau], [hovaten], [gioitinh], [ngaysinh], [sodienthoai], [diachi], [cmnd], [ngayvaolam], [congviec], [taikhoan], [loai], [active]) VALUES (1, N'1', N'Thạch Chí Hùng', N'Nam', N'', N'', N'', N'', N'', N'Quản lý', N'chihung', 2, N'true')
INSERT [dbo].[nhanvien] ([id], [matkhau], [hovaten], [gioitinh], [ngaysinh], [sodienthoai], [diachi], [cmnd], [ngayvaolam], [congviec], [taikhoan], [loai], [active]) VALUES (2, N'1', N'Nguyễn Long Hồ', N'Nam', N'', N'', N'', N'', N'', N'Quản lý', N'longho', 2, N'true')
INSERT [dbo].[nhanvien] ([id], [matkhau], [hovaten], [gioitinh], [ngaysinh], [sodienthoai], [diachi], [cmnd], [ngayvaolam], [congviec], [taikhoan], [loai], [active]) VALUES (3, N'1', N'test11', N'Nữ', N'', N'', N'', N'', N'', N'Nhân viên', N'Huynh', 1, N'false')
SET IDENTITY_INSERT [dbo].[nhanvien] OFF
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [active]) VALUES (1, N'Pina Colada', 25000, N'1', N'true')
INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [active]) VALUES (2, N'Pina Tropica', 25000, N'1', N'true')
INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [active]) VALUES (3, N'Pine Bara', 25000, N'1', N'true')
SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[sanphamphu] ON 

INSERT [dbo].[sanphamphu] ([id], [ten], [gia], [active]) VALUES (1, N'Trân châu trắng', 5000, N'true')
INSERT [dbo].[sanphamphu] ([id], [ten], [gia], [active]) VALUES (2, N'Thạch chanh dây', 5000, N'false')
INSERT [dbo].[sanphamphu] ([id], [ten], [gia], [active]) VALUES (3, N'Thạch trái cây', 5000, N'false')
SET IDENTITY_INSERT [dbo].[sanphamphu] OFF
GO
ALTER TABLE [dbo].[bangphu]  WITH CHECK ADD FOREIGN KEY([idchitiethd])
REFERENCES [dbo].[chitiethoadon] ([id])
GO
ALTER TABLE [dbo].[bangphu]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[sanphamphu] ([id])
GO
ALTER TABLE [dbo].[bangxoahoadon]  WITH CHECK ADD FOREIGN KEY([idhoadon])
REFERENCES [dbo].[hoadon] ([id])
GO
ALTER TABLE [dbo].[bangxoahoadon]  WITH CHECK ADD FOREIGN KEY([idnhanvien])
REFERENCES [dbo].[nhanvien] ([id])
GO
ALTER TABLE [dbo].[chiphi]  WITH CHECK ADD FOREIGN KEY([idloaichiphi])
REFERENCES [dbo].[loaichiphi] ([id])
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD FOREIGN KEY([idhoadon])
REFERENCES [dbo].[hoadon] ([id])
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD FOREIGN KEY([idspchinh])
REFERENCES [dbo].[sanpham] ([id])
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([idkhachhang])
REFERENCES [dbo].[khachhang] ([id])
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([idnhanvien])
REFERENCES [dbo].[nhanvien] ([id])
GO
