
<br /><br /><br /><br /><br />
<div class="container-fluid myfooter" style="height:120px;">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Địa chỉ: 273 An dương vương<br />
                Delivery: 0999999999
            </div>
            <div class="col-sm-4 text-center">
               Copyright &#169; 2021<br />
                Made by Thạch Chí Hùng
            </div>
            <div class="col-sm-4 text-center">
                About us<br />
                This is Coming soon!
            </div>
        </div>
    </div>
</div>


