<nav class="navbar navbar-default" style="background-color: #3c763d;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand text-primary" href="/Admin"><span style="color:white">JoJo Store</span></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Admin/NhanVien"><span style="color:white">Nhân Viên</span></a></li>
            <li><a href="/Admin/SanPham"><span style="color:white">Sản Phẩm</span></a></li>
            <li><a href="/Admin/HoaDon"><span style="color:white">Hóa Đơn</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span style="color:white">Hi! Admin</span></a></li>
            <li><a href="/Admin/Logout"><span style="color:white">Đăng Xuất</span></a></li>
        </ul>
    </div>
</nav>